{% extends "Admin_html/main.htm" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 ">
            <form action="" method="post">
                <div class="row g-6">
                    <div class="col">
                        <input type="text" class="form-control" name="productname" placeholder="Product name" aria-label="Product name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="productprice" placeholder="Product Price" aria-label="product price ">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success text-uppercase">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock%}