{% extends "Admin_html/main.htm" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 ">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row g-6">
                   {{form}}
                    <div class="col">
                        <button type="submit" class="btn btn-success text-uppercase">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock%}